*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #009688 25%, #DBDBD3 25%, #DBDBD3 25%, #DBDBD3 25%);
}
.figlio{
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
}
.profili{
    width: 40%;
    height: 100%;

}
.chat{
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;

}
.profilo,
.profilo-chat{
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
.dati-profilo,
.pulsanti-profilo{
    display: flex;
    align-items: center;
}
.pulsanti-profilo i{
    margin: 0 5px;
}
.dati-profilo img{
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 50%; 
}
.notifiche{
    height: 60px;
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.campana{
    background-color: white;
    height: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.notifiche-scritte{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.notifiche-scritte .notifica-titolo{
    font-size: 14px;
    font-weight: bold;
}
.notifiche-scritte .notifica-sott{
    font-size: 10px;
    
}
.search{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lightgray;
}
.search button,
.search input {
    border: 1px solid lightgray;
    border-radius: 10px;
}
.search button{
    padding: 0px 10px;
    margin-left: 10px;
}
.search input{
    width: 100%;
    margin-right: 10px;
}
.chat-list{
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll;
}
.chat-list-card{
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.chat-list-card:hover{
    background-color: rgb(212, 212, 212);
}
.chat-list-card img{
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
}
.info-titolo{
    font-weight: bold;
    font-size: 16px;
}
.info-info{
    font-size: 12px;
}

.chat-testo{
    height: calc(100% - 120px);
    width: 100%;
    
}
.chat-invia{
    height: 60px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-invia i{
    font-size: 30px;
    margin: 0 20px;
}
.text{
    width: 80%;
}
.text input{
    width: 100%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
}